<h2><%= @application.name %>'s Application</h2>
  <table>
<% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <tr>
      <td><p><%= pet.name %></p></td>
      <td><%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}", method: :patch, local: true %></td>
    </tr>
  </div>
<% end %>
  </table>
